.color-empty {
    fill: var(--default-cell) !important;
}

.color-github-1 {
    fill: var(--cell-1) !important; 
}

.color-github-2 {
    fill: var(--cell-2) !important;
}

.color-github-3 {
    fill: var(--cell-3) !important;
}

.color-github-4 {
    fill: var(--cell-4) !important;
}

rect {
    rx: 4px;
    ry: 4px;
}