.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-content {
	overflow: hidden;
	
	display: flex;
	flex-direction: row;

	max-height: 70vh;
	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--background-color);
	border-radius: var(--input-border-radius);
	z-index: 1000;
	min-width: 60vw;
	min-height: 70vh;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 10px;
}

.modal-header h2 {
	margin: 0;
}

.close-button {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

/* .settings-menu {
	border-top-left-radius: var(--input-border-radius);
	border-bottom-left-radius: var(--input-border-radius);
	width: 10em;
	background-color: var(--background-alt-color);
	gap: 0.5em;
	display: flex;
	flex-direction: column;
} */

.settings-content {
	display: flex;
	flex-direction: column;
	flex: 1; /* fill remaining space */
}

/* terrible name */
.settings-main-content-scroll-area {
	flex: 1;
	overflow: auto;
	padding: 0px;
}
.settings-main-content {
	padding: 0px var(--menu-padding)
}

.sticky-content-header {
	padding: 0px var(--menu-padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
}

.settings-buttons {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
	gap: 0.3em;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0px;
  /* border-bottom: 1px solid var(--border-color); */
}

.setting-item:last-child {
  border-bottom: none; /* no dangling line */
}

.setting-info {
  display: flex;
  flex-direction: column;
}

.setting-label {
  font-weight: 500;
}

.setting-description {
  font-size: 0.85rem;
  color: #aaa;
}

.setting-control{
	margin-left: 1em;
	max-height: 10em;
	overflow: auto;
	min-width: 230px;

	display: flex;
    justify-content: flex-end;
}

/* 


*/
