.warn-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 999;
}

.warn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
    width: 20rem;
}