.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 900;
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: all;
}

.popup-overlay-close {
  opacity: 0;
  pointer-events: none;
}

.popup-overlay-open {
  opacity: 1;
  pointer-events: all;
}

.popup {
	background-color: var(--background-color);
  width: calc(100% - var(--menu-padding) * 2);
  top: 100px;
  position: absolute;
  border-radius: var(--input-border-radius);
  margin: var(--menu-padding);
  z-index: 1000;
}

.pause-popup {
  text-align: center;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: var(--menu-padding);
}

.break-popup {
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: var(--menu-padding);
}