:root {
  --input-border-radius: 5px;
  --select-background: #f0f8ff;
  --select-accent: #0078d4;
}

@font-face {
  font-family: 'Zain';
  src: url('../assets/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, input {
  font-family: 'Zain', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

h4 {
  line-height: 1.5; /* or px value like 24px */
  font-weight: 300;
}

select, button {
  font-family: inherit;
  border-radius: var(--input-border-radius);
  border-width: 1px;

  
  line-height: 1.5rem;
  font-size:medium;
}

.chip {
  margin-top: 0px;
  padding-left: 4px;
  margin-right: 8px;
  padding-right: 4px;
  border: 1px solid gray;
  border-radius: var(--input-border-radius);
}