@font-face {
  font-family: 'Zain';
  src: url('../assets/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, input {
  font-family: 'Zain', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

h4 {
  line-height: 1.5; /* or px value like 24px */
  font-weight: 300;
}